
$menuHeight: 100px;
$menuPadding: 25px;
$loaderW: 100px;




html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    // background-color:red;
}

/*=====FONTS=====*/


@font-face {
    font-family: 'quicksandlight';
    src: url('../_fonts/webfontkit-20170110-050701/quicksand-light-webfont.woff2') format('woff2'),
         url('../_fonts/webfontkit-20170110-050701/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('../_fonts/webfontkit-20170110-050701/quicksand-regular-webfont.woff2') format('woff2'),
         url('../_fonts/webfontkit-20170110-050701/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*BASKERVILLE*/
@font-face {
font-family: 'Libre Baskerville';
font-style: normal;
font-weight: normal;
src: local('Libre Baskerville'), url('../_fonts/baskerville/LibreBaskerville-Regular.woff') format('woff');
}


@font-face {
font-family: 'Libre Baskerville Bold';
font-style: normal;
font-weight: normal;
src: local('Libre Baskerville Bold'), url('../_fonts/baskerville/LibreBaskerville-Bold.woff') format('woff');
}

@font-face {
font-family: 'Libre Baskerville Italic';
font-style: normal;
font-weight: normal;
src: local('Libre Baskerville Italic'), url('../_fonts/baskerville/LibreBaskerville-Italic.woff') format('woff');
}

/*AVENIR_NEXT*/
@font-face {
font-family: 'Avenir Next LT Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Regular'), url('../_fonts/avenir_next/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
font-family: 'Avenir Next LT Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold'), url('../_fonts/avenir_next/AvenirNextLTPro-Bold.woff') format('woff');
}

/*FUTURA*/
@font-face {
font-family: 'Futura Md BT Medium';
font-style: normal;
font-weight: normal;
src: local('Futura Md BT Medium'), url('../_fonts/futura/futura_medium_bt-webfont.woff') format('woff');
}







// LOADER
#loader_wrapper{
    position:fixed;
    right: 0;
    background-color:#fff;
    z-index:999;
    width:100%;
    height:100%;
    text-align: center;
    overflow-y: hidden;
}

#loader{
    position: absolute;
    width:$loaderW;
    height:$loaderW;
    left:50%;
    top:55%;
    margin-left:-$loaderW;
    margin-top:-$loaderW;
}

#loader_wrapper p{
    color: #333;
    font-family: 'quicksandlight';
    font-size: 16px;
    margin-top: -3px;
}

#loaderBar{
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: #333;
    top:95%;
}







#bg_video{
    background-color: black;
    position: fixed;
    z-index: -100;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#menu_top{
    /*background-color: rgba(0,0,0,0.1);*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $menuHeight;
    max-height: $menuHeight;
    z-index: 100;
    /*border-bottom: 1px solid rgba(255,255,255,0.3);*/
    /*background-color: rgba(255,255,255,1);*/
}

/*NAV*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    right: 0;
    top: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 20px;
    font-family: 'quicksandregular';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    color: #999;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #000;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/*END OF NAV*/


#menu_logo{
    /*background-color: blue;*/
    display: inline-block;
    width: $menuHeight;
    height: $menuHeight;
    margin:$menuPadding;
    position: relative;
    opacity: 0.8;
    background-repeat: no-repeat;
    cursor:pointer;
}

#menu_logo svg{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.menu_icon{
    position: relative;
    display: inline-block;
    float: right;
    /*background-color: #eee;*/
    width: $menuHeight;
    height: $menuHeight;
    margin:$menuPadding;
    text-align: center;
    opacity: 0.8;
    cursor:pointer;
}

/*#menu_icon i{
    display: inline-block;
    margin-top: 45%;
    font-size: 20px;
}*/

.nav_bar{
    width: 25px;
    height: 2px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background-color: #fff;
    transition:all 0.2s;

    &::after {
        width: 100%;
        height: 2px;
        background-color:#fff;
        position:absolute;
        top:10px;
        left:0;
        content:"";
        transition:all 0.2s;
    }
}

.menu_icon.active .nav_bar{
        transition:all 0.3s;
        top:0 !important;
        left:0 !important;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        background-color:#000;
    }
.menu_icon.active .nav_bar::after{
        transition:all 0.3s;
        top:0 !important;
        left:0 !important;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        background-color:#000;
    }

.menu_icon:hover .nav_bar{
    top:0px;
}
.menu_icon:hover .nav_bar::after{
    top: 15px;
}



#content{
    position: relative;
    width: 100%;
    height: 100vh;
/*    height: 130px;*/
    top: 76vh;
    left: 0;
    /*background-color: rgba(0,0,0,0.2);*/
    border-radius: 5px;
    z-index:1;
}

.contentMargin{
    margin:0 20%;
}
/*Scrollable Header*/
#content_title{
    position: relative;
    top: -20%;
    color:#fff;
    z-index:2;
    // transition:all 0.1s;
}

#content h1{
    // color: #fff;
    font-weight:normal;
    display: inline-block;
    text-align: left;
    font-family: 'quicksandregular';
    font-size: 30px;
    letter-spacing: 10px;
}

#content p{
    opacity: 0.6;
    width: 500px;
    /*display: inline-block;*/
    text-align: left;
    /*margin-left: 30px;*/
    font-family: 'quicksandlight';
    font-size: 20px;
    font-weight:normal;
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
}

#main_content{
    /*margin-top: 100vh;*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-color: #fff;
}



/*BUTTON*/
#video_button{
    position: absolute;
    width: 500px;
/*    height: 130px;*/
    top: 200px;
    left: 20%;
    /*background-color: rgba(0,0,0,0.2);*/
    border-radius: 3px;
}

.button_big{
    cursor: pointer;
    margin:2.5%;
    opacity: 0.3;
    display: inline-block;
    width: 40%;
    height: 50px;
    /*background-color: red;*/
    text-align: center;
    font-family: 'quicksandlight';
    border:1px solid #eee;
    font-size: 20px;
    color: #eee;
    line-height: 50px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition:all 0.3s;
}

.button_big:hover{
    font-family: 'quicksandregular';
    opacity: 1;
    background: #eee;
    border:1px solid #eee;
    font-size: 20px;
    color: #000;
}
